* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  color: #fff;
}

#root {
  margin: 0 auto;
  padding: 0;
}

.movies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px 0;
}

.links-input {
  display: flex;
  align-items: center;
}

.links {
  list-style-type: none;
  gap: 30px;
}

.header input {

  border: 2px solid #fff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  padding: 12px;
  border-radius: 5px
}

h1 {
  color: #fff;
  font-size: 15px;
  display: flex;
}
.links {
  color: #fff;
  gap: 40px;
  display: flex;
}
input {
  padding: 5px;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  justify-content: center;
  gap: 30px;
}

.card {
  list-style-type: none;
}

.poster {
  width: 280px;
  height: 420px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #fff;
}

.fundo-vermelho {
  background-color: red;
}

.fundo-azul {
  background-color: blue;
}
